# Node
/node_modules

# Angular build
/dist
/.angular

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Python backend
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Misc
*.log
